<body>
  <header>
    <nav class="nav--container">
      <ul class="nav--list">
        <div>
          <li>
            <a href="/" class="nav--list__linkBlog">gusto-Blogs</a>
          </li>
        </div>
        <div>
          <% if (isLoggedIn) { %>
          <li>
            <a href="/addPost" class="nav--list__linkNav">Add Post</a>
          </li>
          <li>
            <a href="/myPosts" class="nav--list__linkNav">My Posts</a>
          </li>
          <li>
            <form action="/logout" method="POST">
              <button class="nav--list__linkLogout" type="submit">Logout</button>
            </form>
          </li>
          <% } else { %>
          <li>
            <a href="/login" class="nav--list__linkNav">Login</a>
          </li>
          <li>
            <a href="/signup" class="nav--list__linkNav">Sign up</a>
          </li>
          <% } %>
        </div>
      </ul>
    </nav>
  </header>
