<body>
  <header>
    <nav class="nav--container">
      <ul class="nav--list">
        <li>
          <a class="nav--list__link" href="/">Homepage</a>
        </li>
      </ul>
    </nav>
  </header>
