<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/404.css">
</head>
<%- include('./includes/navigation.ejs') %>
  <main>
      <h1>404</h1>
      <h2>Sorry, page does not exist!</h2>
  </main>
<%- include('./includes/footer.ejs') %>
