<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/error.css">
</head>
<%- include('./includes/navigation.ejs') %>
  <main>
      <h1>500</h1>
      <h2>Server problem, sorry for the inconvenience.</h2>
      <h4><%= error %></h4>
  </main>
<%- include('./includes/footer.ejs') %>
