h1 {
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 70%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-control {
  width: 90%;
  justify-content: center;
}

.form-control > input {
  width: 100%;
}

.form-control > textarea {
  width: 100%;
  font-size: 1rem;
  border: 2px solid black;
}

.form-control > textarea:focus-visible {
  outline: none;
  border-color: #f45d48;
}