.main--header {
  text-align: center;
}

.posts--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.post--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
}