body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.nav--list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 2rem 2rem;
  background-color: #252525;
  list-style: none;
}

.nav--list > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav--list__linkBlog {
  color: #f45d48;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav--list__linkBlog:visited {
  color: #f45d48;
}

.nav--list__linkAuth {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

main {
  flex: 1;
  background-color: #6d6d6d;
}

footer {
  text-align: center;
  background-color: #252525;
  color: white;
}

.footer--githubLink {
  color: #f45d48;
  text-decoration: none;
}

.footer--githubLink:visited {
  color: #f45d48;
}

.btn {
  background-color: #f45d48;
  border: none;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3rem;
}

.btn:hover,
.btn:active {
  background-color: #e97b6c;
}